<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.products">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="My Cart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".InfoProduct"
            android:screenOrientation="portrait"/>

        <activity android:name=".Splash"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ProductActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
